<img src="https://raw.githubusercontent.com/Paulodiastst/Curso_EBAC-Profissao_Cientista_de_Dados/main/Cientista%20de%20Dados/ebac-course-utils/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Profissão: Cientista de Dados**
### **Módulo 7** | Árvores | Exercício 2

Aluno [Paulo Roberto](https://www.linkedin.com/in/paulo-roberto/)<br>
Data: 13 de Dezembro de 2024.

---

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import plot_tree

from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.metrics import accuracy_score

%matplotlib inline

#### 1) Carregue a base e garanta que a base está como deveria.

Considere a base que você ajustou na lição passada. Carregue-a. Caso ainda haja alguma pendência, ajuste - lembre-se de que o scikitlearn não recebe variáveis em formato string, somente numéricas, e não aceita '*missings*'. 

- Separe 70% da base para treinamento e 30% para validação. Cada uma dessas partes terá dois objetos, um armazenando a variável resposta ```mau```e outro armazenando as variáveis explicativas (lembrando: sem variáveis string, já com as dummies).

In [6]:
# Ler o arquivo CSV
df = pd.read_csv('https://raw.githubusercontent.com/Paulodiastst/Curso_EBAC-Profissao_Cientista_de_Dados/main/Cientista%20de%20Dados/M%C3%B3dulo%207%20-%20%C3%81rvores%20I/Exerc%C3%ADcio%201/demo01_dummies.csv')
print(df.info())
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6770 entries, 0 to 6769
Data columns (total 33 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   qtd_filhos                              6770 non-null   int64
 1   idade                                   6770 non-null   float64
 2   tempo_emprego                           6770 non-null   float64
 3   possui_celular                          6770 non-null   int64
 4   possui_fone_comercial                   6770 non-null   int64
 5   possui_fone                             6770 non-null   int64
 6   possui_email                            6770 non-null   int64
 7   qt_pessoas_residencia                   6770 non-null   float64
 8   mau                                     6770 non-null   bool
 9   sexo_M                                  6770 non-null   bool
 10  posse_de_veiculo_Y                      6770 non-null   bool
 11  posse_de_imovel_Y                       6770 non-null   bool
 12  tipo_renda_Commercial associate         6770 non-null   bool
 13  tipo_renda_Pensioner                    6770 non-null   bool
 14  tipo_renda_State servant                6770 non-null   bool
 15  tipo_renda_Student                      6770 non-null   bool
 16  tipo_renda_Working                      6770 non-null   bool
 17  educacao_Academic degree                6770 non-null   bool
 18  educacao_Higher education               6770 non-null   bool
 19  educacao_Incomplete higher              6770 non-null   bool
 20  educacao_Lower secondary                6770 non-null   bool
 21  educacao_Secondary / secondary special  6770 non-null   bool
 22  estado_civil_Civil marriage             6770 non-null   bool
 23  estado_civil_Married                    6770 non-null   bool
 24  estado_civil_Separated                  6770 non-null   bool
 25  estado_civil_Single / not married       6770 non-null   bool
 26  estado_civil_Widow                      6770 non-null   bool
 27  tipo_residencia_Co-op apartment         6770 non-null   bool
 28  tipo_residencia_House / apartment       6770 non-null   bool
 29  tipo_residencia_Municipal apartment     6770 non-null   bool
 30  tipo_residencia_Office apartment        6770 non-null   bool
 31  tipo_residencia_Rented apartment        6770 non-null   bool
 32  tipo_residencia_With parents            6770 non-null   bool
dtypes: bool(25), float64(3), int64(5)
memory usage: 588.5 KB
None

,qtd_filhos,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau,sexo_M,...,estado_civil_Married,estado_civil_Separated,estado_civil_Single / not married,estado_civil_Widow,tipo_residencia_Co-op apartment,tipo_residencia_House / apartment,tipo_residencia_Municipal apartment,tipo_residencia_Office apartment,tipo_residencia_Rented apartment,tipo_residencia_With parents
0,0,58.832877,3.106849,1,0,0,0,2.0,False,True,...,True,False,False,False,False,True,False,False,False,False
1,0,52.356164,8.358904,1,0,1,1,1.0,False,False,...,False,False,True,False,False,True,False,False,False,False
2,0,46.224658,2.106849,1,1,1,1,2.0,False,True,...,True,False,False,False,False,True,False,False,False,False
3,0,29.230137,3.021918,1,0,0,0,2.0,False,False,...,True,False,False,False,False,True,False,False,False,False
4,0,27.482192,4.024658,1,0,1,0,2.0,False,False,...,True,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6765,1,34.857534,3.101370,1,1,1,0,1.0,True,False,...,False,False,True,False,False,True,False,False,False,False
6766,0,54.109589,9.884932,1,0,0,0,2.0,True,False,...,False,False,False,False,False,True,False,False,False,False
6767,0,43.389041,7.380822,1,1,1,0,2.0,True,False,...,True,False,False,False,False,True,False,False,False,False
6768,0,30.005479,9.800000,1,1,0,0,2.0,True,True,...,True,False,False,False,False,True,False,False,False,False
6769,0,33.936986,3.630137,1,0,1,1,2.0,True,False,...,True,False,False,False,False,True,False,False,False,False

#### 2) Vamos para o modelo:

1. Defina um objeto com a função da árvore de decisão vista em aula.
2. Treine o modelo com os dados que você separou para treinamento.
3. Visualize a árvore. Talvez você queira aumentar um pouco a figura.
4. Produza uma visualização da matriz de classificação (ou matriz de confusão) - coloque os rótulos como "aprovados" e "reprovados" - pois afinal de contas, são essas as decisões que se podem tomar com propostas de crédito.
5. Calcule a acurácia na base de treinamento

#### 3) Vamos avaliar o modelo na base de testes

1. Classifique a base de teste de acordo com a árvore que você treinou no item 2.
2. Produza a visualização da matriz de confusão para a base de teste.
3. Calcule a acurácia da base de teste. Compare com a acurácia da base de treinamento.
4. Treine uma nova árvore com número mínimo de observações por folha de 5 e máximo de profundidade de 10. Use o random_state = 123. Avalie a matriz de classificação. Observe a distribuição da predição - qual a proporção de proponentes foram classificados como 'maus'?
5. Como ficaria a acurácia se você classificasse todos os contratos como 'bons'?